@import '../../../styles/partials/variables';
@import '../../../styles/partials/globales';
@import '../../../styles/partials/mixins';

.contenedorInput {
    margin: 20rem 0 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include tablet {   
        display: flex; 
        justify-content: center;
        align-items: initial;  
        height: 5rem;
        text-align: center;
        font-size: 2rem;
    }

    input {
        
        height: 5rem;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;

        &:focus {
            
            width: 100%;
            color: $negro;
            display: flex;
            justify-content: center;
            font-weight: $bold;

        }
    }
}